body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create_account, .connection-return {
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-right: 20px;
}

.create_account h2, .connection-return h2 {
    margin-bottom: 20px;
}

.create_account input[type="email"],
.create_account input[type="password"],
.create_account input[type="text"]{
    width: 96.4%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 4px;
}

.create_account button, .connection-return button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create_account button {
    background-color: #4CAF50;
}

.create_account button:hover {
    background-color: #45a049;
}

.connection-return button {
    background-color: #015AEC;
}

.connection-return button:hover {
    background-color: #0046C2;
}
