body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Base style for the document body */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for the container */

.login-container, .account-creation, .guest {
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-right: 20px;
    background-image: url('../images/loginForum.png');
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Style for the login container, account creation, and guest sections */

.login-container h2, .account-creation h2, .guest h2 {
    margin-bottom: 20px;
}

/* Style for the headings in login container, account creation, and guest sections */

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 96.4%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 4px;
}

/* Style for the input fields in the login container */

.login-container button, .account-creation button, .guest button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style for the buttons in login container, account creation, and guest sections */

.login-container button {
    background-color: #4CAF50;
}

/* Style for the button in the login container */

.login-container button:hover {
    background-color: #45a049;
}

/* Change of background color of the login container button on hover */

.account-creation button {
    background-color: #015AEC;
}

/* Style for the button in the account creation section */

.account-creation button:hover {
    background-color: #0046C2;
}

/* Change of background color of the account creation button on hover */

.guest button {
    background-color: #ffb300; ;
}

/* Style for the button in the guest section */

.guest button:hover {
    background-color: #ffa500;
}

/* Change of background color of the guest button on hover */
