<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil du forum</title>
    <link href="../static/home.css" rel="stylesheet">
</head>
<body>

<header>
    <div class="search-bar">
        <label>
            <input type="text" placeholder="Recherche...">
        </label>
    </div>
    <form method="GET" action="/profil">
        <button class="profile-btn">Profil</button>
    </form>
</header>

<div class="create">
    <form action="/create_post" method="GET">
        <button class="createBtn" type="submit">Créer un post</button>
    </form>
    <div class="dropdown">
        <button class="dropbtn">Catégories ▼</button>
        <div class="dropdown-content">
            {{range .Categories}}
            <a href="/view_category?id={{.ID}}">{{.Name}}</a>
            {{end}}
        </div>
    </div>
    <form action="/create_category" method="GET">
        <button class="createBtn" type="submit">Créer une catégorie</button>
    </form>
</div>

<div class="posts">
    <h2>Posts Récents</h2>
    {{range .Posts}}
    <div class="post">
        <a href="/view_post?id={{.ID}}" class="post-title">{{.Title}}</a>
        <p>{{.Content}}</p>
        <div class="comments">
            <h3>Commentaires</h3>
            {{range .Comments}}
            <div class="comment">
                <p>{{.Content}} - par {{.CreatedBy}}</p>
                <div class="comment-actions">
                    <form action="/update_comment" method="GET" style="display:inline;">
                        <input type="hidden" name="id" value="{{.ID}}">
                        <button type="submit">Modifier</button>
                    </form>
                    <form action="/delete_comment" method="POST" style="display:inline;">
                        <input type="hidden" name="id" value="{{.ID}}">
                        <button type="submit">Supprimer</button>
                    </form>
                </div>
            </div>
            {{end}}
            <form action="/create_comment" method="GET">
                <input type="hidden" name="post_id" value="{{.ID}}">
                <button type="submit" class="createBtn">Ajouter un commentaire</button>
            </form>
        </div>
    </div>
    {{end}}
</div>

</body>
</html>
