<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil du forum</title>
    <link href="../static/home.css" rel="stylesheet">
</head>
<body>

<header>
    <div class="search-bar">
        <label>
            <input type="text" placeholder="Recherche...">
        </label>
    </div>
    <form method="GET" action="/profil">
        <button class="profile-btn">Profil</button>
    </form>
</header>

<div class="create">
    <form action="/create_post" method="GET">
        <button class="createBtn" type="submit">Créer un post</button>
    </form>
    <div class="dropdown">
        <button class="dropbtn">Catégories</button>
        <div class="dropdown-content">
            {{range .Categories}}
            <a href="/view_category_posts?id={{.ID}}">{{.Name}}</a>
            {{end}}
        </div>
    </div>    
    <form action="/create_category" method="GET">
        <button class="createBtn" type="submit">Créer une catégorie</button>
    </form>
</div>

<div class="categories">
    <h2>Catégories</h2>
    <ul>
        {{range .Categories}}
        <li>
            <a href="/view_category_posts?id={{.ID}}">{{.Name}}</a>
            {{if $.ShowEditDeleteButtons}}
            <form action="/update_category" method="GET" style="display:inline;">
                <input type="hidden" name="id" value="{{.ID}}">
                <button type="submit">Modifier</button>
            </form>
            <form action="/delete_category" method="POST" style="display:inline;">
                <input type="hidden" name="id" value="{{.ID}}">
                <button type="submit">Supprimer</button>
            </form>
            {{end}}
        </li>
        {{end}}
    </ul>
</div>

</body>
</html>
