<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts de la Catégorie</title>
    <link href="../static/category.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="search-bar">
        <!-- class for the search input and suggestions -->
        <form method="GET" action="">
            <input type="text" name="query" placeholder="Recherche..." value="{{.Query}}">
            <button type="submit">Rechercher</button>
        </form>
        <div class="suggestions">
            <!-- class for displaying search suggestions -->
            {{if .Suggestions}}
            <ul>
                {{range .Suggestions}}
                <li><a href="/profil">{{.}}</a></li>
                {{end}}
            </ul>
            {{end}}
        </div>
    </div>
    <form method="GET" action="/profil">
        <button class="profile-btn">Profil</button>
        <!-- class for the profile button -->
    </form>
</header>

{{if not .guestLogin}}
<div class="create">
    <!--  class for the create post and category section -->
    <form action="/create_post" method="GET">
        <button class="createBtn" type="submit">Créer un post</button>
        <!-- class for the create post button -->
    </form>
    <div class="dropdown">
        <button class="dropbtn">Catégories</button>
        <!--  class for the categories dropdown button -->
        <div class="dropdown-content">
            <!--  class for the dropdown menu items -->
            {{range .Categories}}
            <a href="/view_category_posts?id={{.ID}}">{{.Name}}</a>
            {{end}}
        </div>
    </div>
    <form action="/create_category" method="GET">
        <button class="createBtn" type="submit">Créer une catégorie</button>
        <!--  class for the create category button -->
    </form>
</div>
{{end}}

<div class="posts">
    <!--  class for the posts list section -->
    <h2>Posts dans la Catégorie {{.Category.Name}}</h2>
    <ul>
        {{range .Posts}}
        <li>
            <a href="/view_post?id={{.ID}}">{{.Title}}</a>
            <p>{{.Content}}</p>
            <form action="/view_post" method="GET" style="display:inline;">
                <input type="hidden" name="id" value="{{.ID}}">
                <button class="viewBtn" type="submit">Voir le post</button>
                <!-- class for the view post button -->
            </form>
        </li>
        {{end}}
    </ul>
</div>
<a href="/home">Retour à la page d'accueil</a>
</body>
</html>
